:root {
    --navbar-color: rgb(1, 58, 96);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'DotGothic16', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    zoom: 100%;
    animation-name: zoomanimation;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.3s;
    animation-duration: 2s;
    opacity: 0;
}

@keyframes zoomanimation {
    100% {
        transform: scale(107%);
        opacity: 1;
    }
}

.laptop {
    zoom: 140%;
    z-index: 11111;
}

.main-container {
    position: relative;
    height: 40rem;
}

.desktop {
    width: 767px;
    height: 432px;
    background-color: black;
    position: absolute;
    top: 7%;
    left: 15.6%;
    background-image: url(https://i.postimg.cc/MTFYsrS3/pixelated-hacker-poison-skull-gg733qbdv3fhhumk.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.navbar-container {
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.761);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.start-logo:hover {
    background: rgba(0, 106, 219, 0.557);
    transition: 0.5s;
    border-radius: 5px;
}

.startmenu-and-programs {
    display: flex;
    align-items: center;
}

.startmenu-and-programs img {
    padding: 0 2px;
}

#clock {
    color: rgb(195, 195, 195);
}

#startmenu {
    width: 200px;
    height: 300px;
    background-color: rgb(52, 52, 52);
    padding: 10px 5px;
    display: none;
    position: absolute;
    z-index: 1;
}

.start-menu i {
    padding: 10px 0;
    color: rgb(231, 231, 231);
    font-family: 'DotGothic16', sans-serif;
    width: 100%;
}

.start-menu i:hover {
    background-color: rgb(132, 132, 132);
}

/* terminal================================ */

#terminal {
    resize: none;
    width: 767px;
    height: 385px;
    outline: none;
    background-color: black;
    color: green;
    border: none;
    padding: 10px;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    cursor: default;
}

#terminal::-webkit-scrollbar {
    background: none;
    width: 10px;
}

#terminal::-webkit-scrollbar-thumb {
    background-color: rgb(118, 118, 118);
    height: 10px;
}

#terminal::-moz-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

#terminalmain {
    display: none;
}

.terminal-nav {
    width: 100%;
    height: 1.2rem;
    background-color: var(--navbar-color);
    padding: 0 10px;
    z-index: 1;
}

.terminal-minimize-and-off {
    display: flex;
    align-items: center;
    float: right;
}

.terminal-minimize-and-off button {
    width: 30px;
    height: 1.2rem;
    text-align: center;
    background: none;
    border: none;
    color: rgb(235, 235, 235);
    transition: 0.7s;
}

.terminal-minimize-and-off button:hover {
    background-color: white;
    color: black;
}


.settings-window {
    width: 300px;
    height: 300px;
    background-color: rgb(210, 210, 210);
    position: absolute;
    top: 25%;
    left: 30%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
}

.settings-window button {
    width: 200px;
    height: 30px;
    font-size: large;
    margin: 4px 0;
    font-family: 'Oswald', sans-serif;
}

.settings-nav {
    width: 300px;
    height: 25px;
    padding: 0 10px;
    background-color: var(--navbar-color);
}

.settings-window a {
    float: right;
    text-decoration: none;
    color: white;
}

.music {
    position: absolute;
    top: 10%;
    left: 2%;
    width: 40px;
    height: 40px;
    padding: 5px;
    z-index: 0;
}


.music:hover {
    background-color: rgb(72, 140, 195);
}

.main-container label {
    color: rgb(149, 81, 81);
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}

.music-label {
    color: white;
    position: absolute;
    top: 19%;
    left: 2.8%;
    font-size: small;
}

.wallpaper {
    position: absolute;
    top: 26%;
    left: 2%;
    width: 40px;
    height: 40px;
    padding: 5px;
}

.wall-title {
    position: absolute;
    top: 35%;
    left: 1.6%;
    color: white;
}

.wallpaper:hover {
    background-color: rgb(72, 140, 195);
}

/* background change window */

.bg-nav {
    width: 300px;
    height: 15px;
    background-color: rgb(1, 58, 96);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 5px;
    z-index: 111111;
}

.bg-nav button {
    width: 20px;
    height: 15px;
    font-size: 8px;
}

.background-change-window {
    width: 300px;
    height: 402px;
    background: rgb(51, 139, 255);
    z-index: 1;
    float: right;
    overflow-y: scroll;
    position: absolute;
    top: 30px;
    right: -40%;
    transition: 1s;
    display: none;
    overflow-x: hidden;
}

.card1 {
    width: 270px;
    height: 150px;
    background: white;
    margin: 10px 0;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
    border-radius: 8px;
}

.card1:hover {
    transform: scale(105%);
    filter: brightness(150%);
}

.cards-container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.background-change-window::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0.832);
}

.background-change-window::-webkit-scrollbar-thumb {
    background-color: rgb(1, 63, 135);
    border-radius: 10px;
}

.skull {
    background-image: url(https://i.postimg.cc/MTFYsrS3/pixelated-hacker-poison-skull-gg733qbdv3fhhumk.jpg);
}

.anonymous {
    background-image: url(https://i.postimg.cc/fb37VfXx/8c627d0108845d3a82f3bd876e8733a7.png);
}

.road {
    background-image: url(https://i.postimg.cc/3xQCkv16/wallpaperflare-com-wallpaper-5.jpg);
}

.girlanime {
    background-image: url(https://i.postimg.cc/RF2GGb1C/wallpaperflare-com-wallpaper-10.jpg);
}

.cybergirl {
    background-image: url(https://i.postimg.cc/7LFTRvRR/wallpaperflare-com-wallpaper-11.jpg);
}

.hacker {
    background-image: url(https://i.postimg.cc/JhLLYPqq/wallpaperflare-com-wallpaper-7.jpg);
}

.joker {
    background-image: url(https://i.postimg.cc/wv4nzVhn/wallpaperflare-com-wallpaper-3.jpg);
}

.samurai {
    background-image: url(https://i.postimg.cc/43BSv5Fn/wallpaperflare-com-wallpaper-4.jpg);
}

.anon2 {
    background-image: url(https://i.postimg.cc/xT3hTnyK/wallpaperflare-com-wallpaper-6.jpg);
}

.hack {
    background-image: url(https://i.postimg.cc/NF4DYfqF/wallpaperflare-com-wallpaper-9.jpg);
}

.royal {
    background-image: url(https://i.postimg.cc/j2dNHHmq/Wallpaper-Dog-20495318.jpg);
}

.noplace {
    background-image: url(https://i.postimg.cc/G239VcQq/wallpaperflare-com-wallpaper-8.jpg);
}

#wallminimized {
    padding: 0 10px;
    display: none;
}

/* music player========================================= */


.music-player {
    width: 100%;
    height: 403px;
    display: flex;
    flex-direction: row;
    display: none;
}

.music-list {
    width: 300px;
    background-color: #590000;
    background-image: linear-gradient(180deg, #590000 0%, #000000 100%);
    box-shadow: 0px 0px 40px black;
    z-index: 111;
    height: 403px;
    padding: 10px;
    color: white;
}

.music-controls-and-logo {
    background-color: #590000;
    background-image: linear-gradient(180deg, #590000 0%, #000000 100%);
    height: 403px;
    width: 500px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#musicplayericonminimize {
    padding: 0 9px;
    display: none;
}

.start-menu-settings {
    display: flex;
}

.darkweb {
    width: 100%;
    height: 403px;
    background-color: black;
    display: none;
}

.darkweb-navbar {
    width: 100%;
    height: 15px;
    background: var(--navbar-color);
}

.darkweb-welcome {
    width: 100%;
    height: 403px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcome {
    font-size: xx-large;
    animation-name: welcometext;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    white-space: nowrap;
    animation-timing-function: steps(30, end);
}

@keyframes welcometext {
    100% {
        width: 100%;
    }
}

#track1 {
    text-decoration: none;
    color: white;
}

.musicplayer-logo {
    width: 200px;
    height: 200px;
    background-image: url(https://i.postimg.cc/pVhbJ4s9/download.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.musicplayer-controls {
    width: 70%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.musicplayer-controls button {
    text-align: center;
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.839);
    font-weight: bolder;

}

.pauseresume {
    width: 100px;
}

.loading {
    height: 433px;
    width: 100%;
    background-color: rgb(33, 33, 33);
    z-index: 5555555;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-bar {
    width: 50%;
    height: 20px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px 3px;
    display: flex;
    align-items: center;
}

.loading-bg {
    background-color: rgb(219, 219, 219);
    animation: loadingbar 15s forwards;
    animation-delay: 2s;
    width: 0;
    height: 15px;
}

.loadingtxt {
    color: white;
}

@keyframes loadingbar {
    0% {
        width: 0%;
    }
    10% {
        width: 63%;
    }
    20% {
        width: 63%;
    }
    30% {
        width: 63%;
    }
    40% {
        width: 63%;
    }
    50% {
        width: 88%;
    }
    60% {
        width: 88%;
    }
    70% {
        width: 88%;
    }
    80% {
        width: 88%;
    }
    100% {
        width: 100%;
    }
}